<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- resultMap主要功能是当类里面的字符和数据库中的字段名不一样时  在这里面进行标识 -->
<mapper namespace="com.itcity.dao.MessageDao">
    <insert id="insertmessage" parameterType="Message" >
        insert into s_message values(#{firstname},#{secondname},#{tname},#{sortid},#{message},#{nowdate})
    </insert>
    <select id="selmessage" parameterType="String" resultType="Message">
        select * from s_message where tname=#{tname}
    </select>
</mapper>